<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestAutomationSuite" verbose ="1">

	<listeners> 
	<listener class-name="com.retryLogic.MyTransformer"/> 
	</listeners>
	
	<test name= "RetryMultipleFailedTestCases">
		<classes>
			<class name = "com.retryLogic.RetryTest"/>
		</classes>

	</test>
</suite>